---
import Layout from '../layouts/Layout.astro'
import Dashboard from '../components/Dashboard.astro';
import SpeedInsights  from "@vercel/speed-insights/astro"
---

<Layout>
  <main>
    <Dashboard />
    <SpeedInsights />
  </main>
</Layout>
