---
import Skills from './Skills.astro'
import Intro from './Intro.astro'
import Projects from './Projects.astro'
import Experience from './Experience.astro'
import Timeline from './Timeline.astro'
import Connections from './Connections.astro'
---

<main class='flex flex-col md:flex-row  gap-5 items-center justify-center p-10 sm:p-10 bg-cover bg-center min-h-screen'
      style={{
        backgroundImage: 'url(https://images.pexels.com/photos/245240/pexels-photo-245240.jpeg?cs=srgb&dl=pexels-atbo-66986-245240.jpg&fm=jpg)'
      }}>
    <div class="absolute inset-0 bg-gradient-to-br from-black via-transparent to-transparent"></div>
    <div class='min-w-[370px] md:max-w-[1000px] p-5 bg-slate-950 rounded-2xl bg-clip-padding 
              backdrop-filter backdrop-blur-lg bg-opacity-30 border-2 border-gray-500 transform transition-transform duration-500 hover:scale-105 hover:shadow-3xl'>

              <div class='flex flex-col'>
            <div class='flex justify-between'>
                <div class='flex flex-col'>
                    <p class='text-gray-100'>Hi</p>
                    <h1 class="text-white text-2xl font-bold mb-2">I'm Abijeeth Vasra</h1>
                </div>
                <div>
                    <img src='abiheroimage.png' class='w-14' />
                </div>
            </div>
            <div class='flex flex-col md:flex-row justify-center gap-5'>
                <div><Intro /></div>
                <div><Skills /></div>
                <div><Timeline /></div>
            </div>
            <div class='flex flex-col md:flex-row justify-center gap-5 mt-5'>
                <div><Projects /></div>
                <div><Experience /></div>
            </div>
        </div>
    </div>
    <Connections />
</main>
