<div class="md:max-w-[300px] p-5 bg-gray-900 rounded-2xl 
    bg-opacity-40 border-2 border-gray-500 transform transition-transform duration-500 hover:scale-105 hover:shadow-3xl">
  <h1 class="text-white text-lg">Currently in Front End Tech</h1>
  <h1 class="text-white italic text-md mt-3">⭐Aspiring to build interactive and user-friendly web applications.</h1>
  <h1 class="text-white italic text-md mt-1">⭐Passionate about turning creative ideas into functional designs.</h1>
  <h1 class="text-white italic text-md mt-1">⭐Fascinated by the potential of AI and ML to transform and enhance user experiences.</h1>
</div>
