
<div class="md:w-[300px] md:min-h-[260px] p-5 bg-gray-900 rounded-2xl 
         bg-opacity-40 border-2 border-gray-500 transform transition-transform duration-500 hover:scale-105 hover:shadow-3xl">
  <h4 class="text-white mb-5">Tech Stack</h4>
  <div class="flex justify-around">
    <img src="htmllogo.png" class="w-12 h-12 transform transition-transform duration-300 hover:scale-110" />
    <img src="csslogo.png" class="w-12 h-12 transform transition-transform duration-300 hover:scale-110" />
    <img src="tailwindlogo.png" class="w-12 h-12 transform transition-transform duration-300 hover:scale-110" />
    <img src="reduxlogo.png" class="w-12 h-12 transform transition-transform duration-300 hover:scale-110" />
  </div>
  <div class="flex justify-around mt-3">
    <img src="jslogo.png" class="w-12 h-12 transform transition-transform duration-300 hover:scale-110" />
    <img src="tslogo.jpg" class="w-12 h-12 transform transition-transform duration-300 hover:scale-110" />
    <img src="postmanlogo.png" class="w-12 h-12 transform transition-transform duration-300 hover:scale-110" />
    <img src="reactlogo.png" class="w-12 h-12 transform transition-transform duration-300 hover:scale-110" />
  </div>
  <div class="flex justify-around mt-3">
    <img src="tflogo.png" class="w-12 h-12 transform transition-transform duration-300 hover:scale-110" />
    <img src="javalogo.png" class="w-12 h-12 transform transition-transform duration-300 hover:scale-110" />
    <img src="firebaselogo.jpg" class="w-12 h-12 transform transition-transform duration-300 hover:scale-110" />
    <img src="magentologo.png" class="w-12 h-12 transform transition-transform duration-300 hover:scale-110" />
  </div>
</div>
