<style>
    @import '../styles/tooltip.css';
</style>

<div class="md:max-w-[300px] md:min-h-[260px] p-5 bg-gray-900 rounded-2xl bg-opacity-40 border-2 border-gray-500 transform transition-transform duration-500 hover:scale-105 hover:shadow-3xl">
    <h4 class="text-white mb-5">Tech Stack</h4>
    
    <div class="flex justify-around">
      <div class="tooltip">
        <img src="htmllogo.png" alt="html" class="h-12 mr-2 transform transition-transform duration-300 hover:scale-110" />
        <span class="tooltip-text">HTML</span>
      </div>
      <div class="tooltip">
        <img src="csslogo.png" alt="css" class="w-12 h-12 mr-2 transform transition-transform duration-300 hover:scale-110" />
        <span class="tooltip-text">CSS</span>
      </div>
      <div class="tooltip">
        <img src="tailwindlogo.png" alt="tailwind" class="w-12 h-12 mr-2 transform transition-transform duration-300 hover:scale-110" />
        <span class="tooltip-text">Tailwind</span>
      </div>
      <div class="tooltip">
        <img src="reduxlogo.png" alt="redux" class="w-12 h-12 mr-2 transform transition-transform duration-300 hover:scale-110" />
        <span class="tooltip-text">Redux</span>
      </div>
    </div>
  
    <div class="flex justify-around mt-3">
      <div class="tooltip">
        <img src="jslogo.png" alt="js" class="w-12 h-12 mr-2 transform transition-transform duration-300 hover:scale-110" />
        <span class="tooltip-text">JavaScript</span>
      </div>
      <div class="tooltip">
        <img src="tslogo.jpg" alt="ts" class="w-12 h-12 mr-2 transform transition-transform duration-300 hover:scale-110" />
        <span class="tooltip-text">TypeScript</span>
      </div>
      <div class="tooltip">
        <img src="postmanlogo.png" alt="postman" class="w-12 h-12 mr-2 transform transition-transform duration-300 hover:scale-110" />
        <span class="tooltip-text">Postman</span>
      </div>
      <div class="tooltip">
        <img src="reactlogo.png" alt="react" class="w-12 h-12 mr-2 transform transition-transform duration-300 hover:scale-110" />
        <span class="tooltip-text">React</span>
      </div>
    </div>
  
    <div class="flex justify-around mt-3">
      <div class="tooltip">
        <img src="tflogo.png" alt="tf" class="w-12 h-12 mr-2 transform transition-transform duration-300 hover:scale-110" />
        <span class="tooltip-text">TensorFlow</span>
      </div>
      <div class="tooltip">
        <img src="javalogo.png" alt="java" class="w-12 h-12 mr-2 transform transition-transform duration-300 hover:scale-110" />
        <span class="tooltip-text">Java</span>
      </div>
      <div class="tooltip">
        <img src="firebaselogo.jpg" alt="firebase" class="w-12 h-12 mr-2 transform transition-transform duration-300 hover:scale-110" />
        <span class="tooltip-text">Firebase</span>
      </div>
      <div class="tooltip">
        <img src="magentologo.png" alt="magento" class="w-12 h-12 mr-2 transform transition-transform duration-300 hover:scale-110" />
        <span class="tooltip-text">Magento</span>
      </div>
    </div>
  </div>